.messageContainer {
  margin: 1% 3%;
  display: flex;
}
.messagesContent {
  background-color: #21295c;
  width: 98%;
  margin: auto;
}
.messageFrom {
  flex: 4;
  display: flex;

  flex-direction: column;
  align-items: center;
  padding: 5px 10px;
}
.messageFrom span {
  font-size: 12px;
  font-weight: 600;
  color: white;
  /* padding: 10px; */
}
.messageContent {
  flex: 8;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
}
hr {
  opacity: 0.4;
}
