.css-oclsgy {
  margin-left: 10px;
}
.css-ibwmxy-MuiTypography-root {
  color: white;
}
.dashConents {
  background-color: #21295c;
  width: 95%;
  margin: auto;
  height: 70vh;
}
.dashConents h3 {
  text-align: center;
  padding-top: 205px;
  color: white;
}
